.upfile {
  width: 150px;
  height: 150px;
  border: 2px solid;
  display: block;
}

.image {
  font-size: 80px;
  color: #08c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%
}

/* you can make up upload button and sample style by using stylesheets */
.ant-upload-select-picture-card i {
  color: #999;
  font-size: 32px;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}