
.title{
    font-family: 'Lobster', cursive;
    color: #032A47;
    font-size: 45px;
    text-align: center;
}

.ant-form-item-label > label {
    font-family: 'Segoe UI Regular';
    color: #484848;
}
.login-btn{
    background: #032A47 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    width: 60%;
    border-radius: 0;
    font-family: 'Segoe UI Regular';
}

.forgot-text{
    color: #ACD637;
    padding-left: 5%;
}
.ant-form-item{
    margin-bottom: 20px;

}
